{% extends 'layout.html' %}

{% block content %}
  <div class="timeline">
    <h2>진욱이네 중국집</h2>
    <table id="good-list">
      <tr>
        <th>메뉴명</th>
        <th>이미지</th>
        <th>가격</th>
        <th>가게 마감 시간</th>
        <th>구매</th>
      </tr>
      {% for good in goods %}
        <tr>
          <td>{{good.name}}</td>
          <td>
            <img src="/img/{{good.img}}">
          </td>
          <td>{{good.price}}</td>
          <td class="time" data-start="{{good.createdAt}}">00:00:00</td>
          <td>
            <a href="/good/{{good.id}}" class="enter btn">구매</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <script src="https://unpkg.com/event-source-polyfill/src/eventsource.min.js"></script>
  <script>
    const es = new EventSource('/sse');
    es.onmessage = function (e) {
      document.querySelectorAll('.time').forEach((td) => {
        const end = new Date(td.dataset.start); // 가게 운영 시작 시간
        const server = new Date(parseInt(e.data, 10));
        end.setDate(end.getDate() + 1); // 가게 영업 종료 시간
        if (server >= end) { // 가게가 영업 종료되었으면
          return td.textContent = '00:00:00';
        } else {
          const t = end - server; // 가게 영업 종료까지 남은 시간
          const seconds = ('0' + Math.floor((t / 1000) % 60)).slice(-2);
          const minutes = ('0' + Math.floor((t / 1000 / 60) % 60)).slice(-2);
          const hours = ('0' + Math.floor((t / (1000 * 60 * 60)) % 24)).slice(-2);
          return td.textContent = hours + ':' + minutes + ':' + seconds ;
        }
      });
    };
  </script>
{% endblock %}